/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

.logo-img img {
  height: 2.2rem;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.header {
  padding: 2.6rem 4.8rem;
  background-color: #fdf2e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  margin-right: left;
}

.nav-list-link:link,
.nav-list-link:visited {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  transition: all 0.3s;
}
.nav-list-link:hover,
.nav-list-link:active {
  color: #eb984e;
}
.nav-list-link:last-child {
  color: #fff;
}

.btn-full {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  border-radius: 9px;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

/******************************/
/*HERO SECTİON*/

/*mobile*/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  width: 4.8rem;
  height: 4.8rem;
  color: #333;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/****************/

.heading-primary {
  font-size: 4.8rem;
  font-weight: 700;
  color: #333;
  padding-top: 2.4rem;
}

.main-img img {
  max-width: 100%;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 6.4rem 9.6rem;
}

.hero {
  margin: 0 auto;
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}

.hero-text {
  margin-top: 4rem;
  font-size: 1.8rem;
  color: #555;

  line-height: 1.9;
  letter-spacing: 0.75px;
  margin-bottom: 4.8rem;
}

.hero-text-section {
  margin: 0 2rem;
}

.btn-flex {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 5.2rem;
}

.btn:link,
.btn:visited {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  transition: all 0.3s;
  padding: 1.6rem 3.2rem;
  font-size: 700;
}

.btn-white:link,
.btn-white:visited {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  transition: all 0.3s;
  padding: 1.6rem 3.2rem;
  font-size: 700;
  background-color: #fff;
  border-radius: 9px;
}
.btn-white:hover,
.btn-white:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.img-customer {
  display: flex;
  gap: 0;
}

.img-customer img {
  border-radius: 50%;
  height: 4.8rem;
  border: 3px solid #fff;
  margin-left: -1.6rem;
}

.customer-flex {
  margin-left: 1.6rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: flex-start;
}

.customer-text {
  font-size: 1.8rem;
  font-weight: 700;
  color: #555;
  padding-top: 2.4rem;
}

.customer-text span {
  color: #eb984e;
}

/*****************************/
/*FEATURED IN*/

.img-logos {
  display: flex;
  gap: 9.6rem;
  align-items: center;
  justify-content: center;
}

.img-logos img {
  max-width: 15rem;
}

.featured-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.8rem;
  /* filter: brightness(0); */
  filter: grayscale(100%);
  opacity: 60%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.heading-secondary {
  font-weight: 500;
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

/***********************/
/*FOOTER*/
.grid {
  display: grid;
  gap: 3.2rem;
}
.footer {
  padding: 9.6rem 0;
}

.footer-grid--5-cols {
  grid-template-columns: 0.8fr 1fr 0.6fr 0.7fr 0.8fr;
}
.line {
  border-top: 1px solid #fdf2e9;
}
.footer-flex {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.footer-flex a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #999;
  line-height: 1.5;
  font-weight: 400;
}

.footer-text {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 1.8rem;
}

.footer-address {
  font-size: 1.6rem;
  color: #888;
  font-style: normal;
}

.footer-flex-address {
  display: flex;
  flex-direction: column;
}

.footer-comminication {
  margin-top: 4.8rem;
}

.footer-logo {
  display: inline-block;
  height: 2rem;
  width: 14rem;
}

.icon-footer {
  width: 2.4rem;
  height: 2.4rem;
}

.icon-flex {
  /* margin-top: 3.2rem; */
  display: flex;
  gap: 1.8rem;
  list-style: none;
  margin-top: 1.6rem;
}

.copyright {
  font-size: 1.2rem;
  color: #555;
  align-self: flex-end;
  padding-top: 5.8rem;
}

/***************************/
/*MEALS*/

.section-meals {
  text-align: center;
}

.meal-desp {
  font-size: 1.6rem;
  color: #e67e22;
  margin-bottom: 1.2rem;
  margin-top: 12.8rem;
}

.section-meals h2 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 9.6rem;
}

.grid-3--cols {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.meal-col {
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  width: 33.6rem;
  height: 50.5rem;
  transition: all 0.3s;
  box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.09);
}

.food-type.two {
  background-color: rgb(224, 205, 110);
}
.type {
  display: flex;
  gap: 1.2rem;
}
.meal-list {
  list-style: none;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  justify-content: center;
}

.feature-baslik {
  font-size: 3.2rem;
  font-weight: 600;
  color: #555;
}

.food-type {
  display: inline;
  background-color: #51cf66;
  border-radius: 9px;
  font-size: 1.2rem;
  padding: 0.2rem 0.9rem;
  margin-bottom: 1.2rem;
}

.meal-img img {
  width: 100%;
}

.meal-content {
  padding: 3.2rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.meal-text {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.icon-meal {
  height: 2.4rem;
  width: 2.4rem;
  color: #cf711f;
}

.li-class {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #888;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 0.75px;
}

.meal-col:hover {
  transform: translateY(-10px);
}

.meal-link {
  margin-top: 3.6rem;
}
.meal-link a {
  color: #e67e22;
  font-size: 1.8rem;
}

.meal-link a:hover {
  text-decoration: none;
}

/***********************/
/*HOW IT WORKS*/

.grid-2--cols {
  grid-template-columns: 1fr 1fr;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
}

.section-how h2 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 9.6rem;
}

.section-how {
  margin-top: 4.8rem;
}
.how-it-works-col-1 {
}
.how-number {
  color: #ced4da;
  font-size: 8rem;
  font-weight: 700;
}
.how-text {
  font-size: 3.2rem;
  font-weight: 600;
  color: black;
  margin-bottom: 2.4rem;
}
.how-description {
  font-size: 1.6rem;
  line-height: 2;
  color: #666;
  font-weight: 500;
  font-family: sans-serif;
}

.how-img img {
  width: 20rem;
  height: 40rem;
}

.how-desp {
  font-size: 1.6rem;
  color: #e67e22;
  margin-bottom: 1.2rem;
  margin-top: 9.6rem;
}

.how-img {
  justify-self: center;
  position: relative;
}

.how-img::after {
  content: "";
  width: 125%;
  height: 75%;
  color: #eb984e;
  background-color: #ffd8a8;
  border-radius: 50%;
  position: absolute;
  top: 12%;
  left: -13%;

  z-index: -1;
}

.how-img::before {
  content: "";
  width: 175%;
  height: 75%;
  color: #eb984e;
  background-color: #fdf2e9;
  border-radius: 50%;
  position: absolute;
  top: 12%;
  left: -37%;

  z-index: -1;
}

.section-price h2 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 9.6rem;
}

.price-col {
  background-color: #fff;
  /* margin: 5.2rem 9.6rem; */
  border: 3px solid #fdf2e9;
  border-radius: 9px;
}
.price-col.background {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.section-price ul {
  margin-bottom: 4.8rem;
  margin-left: 4.8rem;
}
.price-text {
  font-size: 2rem;
  text-align: center;
  color: #e67e22;
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}
.price {
  font-size: 5.2rem;
  text-align: center;
  color: #333;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.price-desp {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
  color: #888;
  margin-bottom: 3.6rem;
}

.section-price strong {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.price-btn {
  text-align: center;
  margin-bottom: 4.8rem;
}

.center {
  max-width: 80rem;
  margin: 0 auto;
}

.price-desp-2 {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
  color: #888;
  margin-bottom: 3.6rem;
  margin-top: 4.8rem;
}

.price-col.background::after {
  content: "BEST VALUE";
  position: absolute;
  top: 16px;
  right: -40px;
  transform: rotate(45deg);
  background-color: yellow;
  padding: 1.2rem 3.2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.grid-4--cols {
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
}

.description-price {
}

.price-alt-text {
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 700;
}

.price-alt-desp {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: #888;
  line-height: 2;
  margin-bottom: 9.6rem;
}

.price-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #eb984e;
  background-color: #fdf2e9;
  border-radius: 50%;
  padding: 1.2rem;
}
.price-description {
  margin-top: 9.6rem;
}
/************/

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;

  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky.section-hero {
  padding-top: 9.6rem;
}
/*************************/
/*TESTIMONIALS*/
.grid-2--cols-testimonial {
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}
.grid-3-cols-testimonial {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  row-gap: 0.5rem;
  padding-left: 5.2rem;
}

.testimonial-img {
  margin-top: 1.2rem;
  margin-right: 1.2rem;

  overflow: hidden;
}
.testimonial-img img:hover {
  transform: scale(1.1);
}
.testimonial-img img {
  display: block;
  width: 100%;
  transition: transform 0.3s ease;
}

.section-testimonials {
  background-color: #fdf2e9;
  margin-top: 9.6rem;
}

.testimonial-text-box {
  padding: 9.6rem 9.6rem;
  margin-right: 1.2rem;
}

.section-testimonials h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 9.6rem;
}

.customer-feedback img {
  border-radius: 50%;
  height: 6.4rem;
}

.customer-text {
  font-size: 1.8rem;
  font-family: sans-serif;
  line-height: 1.8;
  color: #555;
  font-weight: 200;
}

/*cta*/

.cta {
  border-radius: 12px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);

  overflow: hidden;
}

.img-cta {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.section-cta h2 {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 9.6rem;
  color: #45260a;
  margin-top: 4.8rem;
  margin-left: 4.8rem;
}

.cta-text {
  font-size: 1.6rem;
  font-weight: 200;
  color: #333;
  margin-left: 4.8rem;
  margin-top: -4.8rem;
  line-height: 1.7;
}

.grid-2--cols-cta {
  grid-template-columns: 2fr 1fr;
  gap: 3.2rem;
}

.input-class {
  border-radius: 12px;
  padding: 1.2rem 2.4rem;
  border: none;
}

.input-flex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border: none;
}

label {
  font-size: 1.8rem;
}

select {
  border-radius: 12px;
  padding: 1.2rem 2.4rem;
}

.cta-form {
  padding: 3.2rem;
}

.option-cl {
  margin-top: -6.8rem;
}

.btn-cta {
  margin-top: -3.2rem;
  padding: 1.2rem 2.4rem;
  background-color: #666;
  border-radius: 12px;
  text-align: center;
}

.btn-cta:hover {
  background-color: #999;
}
